.pad10 { padding: 10px; }
.spc10 { margin: 10px; }
.spc5 { margin: 5px; }

.border {
    border: 1px solid gray;
}
.bgred { background-color: red; }
.bggreen { background-color: green; }

.fillw {
    width: 100% !important;
    display: block;
}

.border {
    border: 1px solid gray;
}
.error  { color: red; }
.error::before  { content: "** "; }
.error::after  { content:  " **"; }

.center { text-align: center; }
.hidden { display: none; }

.grid-center {
    position: absolute;
    display:inline-block;
    width: 100vw/2;
    height: 100vw/2;
}

.grid12 {
    display: grid !important;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
}
.grid12-left  { grid-column: 1 / 6; }
.grid12-right { grid-column: 6 / 12; }

.grid-item-full {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.spc {
    width: 10px;
    display: inline-block;
}
